#Maintab{
  float: left;
  width:98%;
  height:max-content;
  padding: 30px;
}
#Slider{
  float: left;
  width: 100%;
  height: 730px;
  background-color:transparent;
  margin: 20px;
}
.preb{
  position: absolute;
  top: 53%;
  left: 4%;
  background-color: grey;
  border: 0px;
  padding: 10px;
  border-radius: 50%;
  opacity: .4;
}
.preb:hover{
  color: white;
  background-color: black;
  opacity: 1;
}
.nextb{
  position: absolute;
  top: 53%;
  right: 4%;
  background-color: grey;
  border: 0px;
  padding: 10px;
  border-radius: 50%;
  opacity: .4;
}
.nextb:hover{
  color: white;
  background-color: black;
  opacity: 1;
}
.navimg{
  height: 25px;
  width: 25px;
}
.discp{
  width:max-content;
  position: absolute;
  top: 40%;
  margin-left: 50%;
}
.discp2{
  color: white;
  width:max-content;
  position: absolute;
  top: 40%;
  margin-left: 5%;
}
.discp3{
  width:max-content;
  position: absolute;
  top: 20%;
  margin-left: 43%;
}
.simg{
  width: 100%;
  height: 100%;
}
.sdisp{
  width:max-content;
  font-size: 50px; 
  font-weight: 650;
  margin: 0px;
}
.container{
  float: left;
  text-align: center;
  width: 100%;
  height:max-content;
  margin-top: 30px;
  padding-bottom: 30px;
}
#innavbar{
  float: left;
  width:100%;
  padding-top: 40px;
 text-align: center;
}
#innavbar2{
  float: left;
  width:100%;
  padding-top: 20px;
 text-align: center;
}
.tabs{
 display: inline-flex;
 -webkit-box-align: center;
 align-items: center;
 -webkit-box-pack: center;
 justify-content: center;
}
.heading{
  font-size: 44px;
}
.heading2{
  font-size: 44px;
  margin-bottom: 10px;
}
.intabs{
  width:max-content;
  color: black;
  font-size: 24px;
  font-weight: 550;
  padding: 10px;
}
.intabs:hover{
 color: grey;
}
.inltab{
  float: left;
  width: 45%;
  height: 620px;
  margin: 30px;
  margin-left: 80px;
  margin-right: 10px;
  border-radius: 20px;
}
.inrtab{
  float: left;
  width: 40%;
  height:max-content;
  margin: 30px;
  padding-left: 0px;
}
.inltab2{
  float: left;
  width:max-content;
  height:max-content;
  margin-left: 27%;
  margin-right: 27%;
  border-radius: 20px;
}
.concontent{
  float: left;
  text-align: center;
 height:max-content;
 width:100%;
 margin-top: 20px;
}
.Nameholder{
  width: 100%;
  text-align: center;
  font-size: 58px;
  margin: 0px;
}
.cashback{
  width:100%;
  font-size: 18px;
  margin: 10px;
}
.learnmore{
  font-size: 18px;
  padding: 5px;
  margin-right: 10px;
  text-decoration: underline;
}
.buybutton{
  width:max-content;
  font-size: 18px;
  color: white;
  padding: 10px;
  background-color: black;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}
#innavbar3{
  position: absolute;
    float: left;
    width:90%;
    padding-top: 40px;
   text-align: center;
}
.intabs2{
  width:max-content;
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 550;
  padding: 10px;
  margin-top: 35px;
}
.heading3{
  width: 90%;
  position: absolute;
  font-size: 44px;
}
.concontent2{
  color: white;
  width:90%;
  position:absolute;
  text-align: center;
  height:max-content;
  margin-top: 40%;
}
.aimg{
  float: left;
  text-align: center;
  width: 100%;
  height: 90%;
}
.container2{
  float: left;
  color: white;
  text-align: center;
  background-color: black;
  width: 100%;
  height:max-content;
  margin-top: 60px;
  margin-left: 20px;
}
.white{
  color: white;
}
.white2{
  background-color: white;
}
.buybutton2{
  width:max-content;
  font-size: 18px;
  color: black;
  padding: 10px;
  background-color: white;
  border: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}
.container3{
  float: left;
  color: black;
  text-align: center;
  background-color: white;
  width: 100%;
  height:max-content;
  padding-bottom: 30px;
  margin-left: 20px;
}
.list{
  width: 100%;
  display: flex;
  flex-direction: row;
  height:max-content;
  font-weight: 600;
  font-size: 24px;
  text-align: left;
}
.topspacer{
  padding-top: 50px;
  padding-bottom: 50px;
}
.blackline{
  width: 100%;
  float: left;
  background-color: black;
  height: 2px;
  margin-bottom: 5px;
}
.index{
  font-size: 18px;
  padding: 20px;
  padding-top: 35px;
}
.rules{
  width: 100%;
  margin: 0px;
}
.hide{
  opacity: 0;
}
.searchbar{
  font-size: 22px;
  width: 30%;
  padding: 15px;
  border:  black 1px solid;
  border-radius: 30px;
}
#tabcontainer{
  margin-top: 30px;
}
.ntabs{
  border-radius: 30px;
  border: rgb(161, 161, 161) 1px solid;
  margin: 5px;
  padding: 5px 10px;
}
.ntabs:hover{
  background-color: rgba(153, 153, 153, 0.527);
}
.txtcontainer{
  text-align: left;
  height:max-content;
  font-size: 12px;
  width: 80%;
  margin: 100px;
}
#table{
  color: rgb(110, 110, 110);
  width: 100%;
  border: rgba(146, 146, 146, 0.288) 1px solid;
  border-left: 0px;
  border-right: 0px;
  margin: 50px;
}
tr{
  width: 18.8%;
  text-align: start;
  height:max-content;
}
td{
  border-right: rgba(146, 146, 146, 0.288) 1px solid;
  padding: 9px;
}
td:hover{
  color: blue;
  text-decoration: underline;
}
.tableh{
  color: black;
  font-size: 20px;
  font-weight: 550;
  padding-top: 20px;
}
.tableh:hover{
  color: black;
  text-decoration: none;
}
.noborder{
  border-right: 0px;
}
.txtcontainer2{
  text-align:center;
  height:max-content;
  font-size: 12px;
  width: 100%;
  margin-bottom: 100px;
}
#sw{
  margin-top: 50px;
  text-align: center;
}
#name{
  font-size: 24px;
  margin: 5px;
}
.opend{
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  height: 3px;
  background-color:rgb(0, 0, 0);
}
.opend2{
  display: flex;
  flex-direction: row;
  float: left;
  width: 100%;
  height: 3px;
  background-color:rgb(255, 255, 255);
}
.motto{
  font-size: 18px;
  width: 100%;
  font-weight: 600;
}