body{
  background-color: white;
  font-family: sans-serif;
  box-sizing: border-box;
}
*{
  box-sizing: border-box;
}
.link{
  text-decoration: none;
}
.Maintab{
  box-sizing: border-box;
  float: left;
  width:98%;
  height:max-content;
  padding: 30px;
}